:root {
    --bg: black;
    --title: #c5a05a;
    --txt: white;
}

body,
html {
    margin: 0;
    height: 100%;
    background-color: var(--bg);
    color: var(--txt);
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.warning-screen {
    display: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.warning-screen img {
    width: 30%;
    border-radius: 50%;
}

@media only screen and (max-width: 767.99px) {
    #progress-icons-container,
    #scroll-container {
        display: none;
    }

    .warning-screen {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023.99px) {
    #progress-icons-container,
    #scroll-container {
        display: none;
    }

    .warning-screen {
        display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        display: flex;
    }

    h1,
    h2,
    h3 {
        color: var(--title);
    }

    h1 {
        margin: 0;
        font-size: 2.5em;
        text-wrap: nowrap;
    }

    p {
        text-align: justify;
    }

    #progress-icons-container {
        height: 100vh;
        width: 7vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #progress-icons {
        height: 80%;
        padding: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }

    .icon {
        font-size: 24px;
        color: var(--txt);
        cursor: pointer;
        transition: color 0.3s, transform 0.3s;
    }

    .icon.active {
        color: var(--title);
        transform: scale(1.1);
    }

    .icon:hover {
        color: var(--title);
    }

    #scroll-container {
        display: flex;
        flex-direction: column;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
        width: 93vw;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    #scroll-container::-webkit-scrollbar {
        display: none;
    }

    section {
        scroll-snap-align: start;
        flex-shrink: 0;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 1.2s ease-in-out;
    }

    section.active {
        opacity: 1;
    }

    #personal-info {
        width: 50%;
        padding: 0 10vw;
        text-align: center;
    }

    #personal-info h1 {
        font-size: 3rem;
    }

    #photo {
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-mask-image: linear-gradient(to left, black, transparent);
        mask-image: linear-gradient(to left, black, transparent);
    }

    #photo img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    #social {
        font-size: x-large;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        gap: 2vw;
    }

    #social a {
        color: var(--txt);
        opacity: 0.80;
        transition: all 0.35s ease-in-out;
    }

    #social a:hover {
        opacity: 1;
    }

    #about-content {
        width: 80vw;
    }

    #about h2 {
        margin-bottom: -1%;
    }

    #about p,
    li {
        line-height: 1.6;
    }

    #qualification {
        justify-content: space-evenly;
    }

    #education-item p {
        line-height: 0.5;
    }

    #experience {
        width: 40%;
        text-align: justify;
    }

    #experience h3,
    .education-item h3 {
        margin-bottom: -1%;
    }

    #experience li {
        line-height: 1.5;
    }

    #education-experience-container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 2vw;
    }

    #education,
    #experience {
        flex: 1;
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}