@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap");

/* Global styles */
:root {
  --bg: #090909;
  --txt: #f5deb3;
  --btn: #ce5a67;
  --bg-light: #f5f5f5;
  --txt-light: #090909;

  --vh: 1vh;
}

* {
  margin: 0;
  text-align: justify;
}

* li {
  list-style: square;
}

* h1 {
  text-decoration: underline;
}

* a {
  text-decoration: none;
  color: var(--txt);
}

hr {
  color: var(--txt);
  background-color: var(--txt);
  border-color: var(--txt);
}

/* Page-specific styles */
body {
  background-color: var(--bg);
  color: var(--txt);
  height: calc(100 * var(--vh));
  margin: 0;
  padding: 0;
}

.welcome-animation {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  z-index: -100;
  opacity: 0;
  animation: fadeOut 2s ease-out;
}

.container {
  animation: fadeIn 4s ease-in;
}

.page-border {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  height: 95%;
  width: 95%;
  z-index: -100;
  border: 1px solid var(--txt);
  border-radius: 2vh;
  box-shadow: 0 0 10px var(--txt);
}

#dark-icon {
  color: var(--txt-light);
  border: 2px solid var(--txt-light);
  border-radius: 25%;
  padding: 7px;
  display: none;
}

#light-icon {
  color: var(--txt);
  border: 2px solid var(--txt);
  border-radius: 25%;
  padding: 7px;
}

#toggle-btn {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#links {
  position: absolute;
  top: 3.5%;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

#links p {
  border: 2px solid var(--txt);
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.page {
  padding: 0 10%;
  flex-direction: column;
  gap: 2%;
}

#about-page,
#contact-page {
  display: none;
}

#CV {
  background-color: var(--txt);
  color: var(--bg);
  padding: 2px;
  border-radius: 5px;
}

#social {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
  }

  * h1 {
    font-size: 200%;
  }

  * h2 {
    font-size: 150%;
  }
  #home-page h1 {
    font-size: 250%;
  }

  #home-page h3 {
    font-size: x-large;
  }

  #social * {
    font-size: x-large;
  }
}

@media (min-width: 769px) {
  #contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #social {
    font-size: xx-large;
    width: 70vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
